.LinkDetails {
  color: black;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
}

.LinkDetails:hover {
  color: firebrick;
}
.LinkDetailsActive {
  color: firebrick;
}

.itemDetails {
  margin: 10px 20px;
}
