.List {
  display: flex;
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
}
.NavLink {
  text-decoration: none;
  color: black;
  margin: 0 40px;
}
.NavLink:hover {
  color: firebrick;
}
.NavLinkActive {
  /* color: #3f51b5; */
  color: firebrick;
  border-bottom: 2px solid firebrick;
}
